*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
#header{
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 2em;
    width: 100%;
}
#index{ 
    background-color: black;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.5em;
}
#tarjeta{
    text-align: center;                 /* Elimina el espacio debajo de la imagen */                  /* Ajusta la imagen para que no se desborde */                     /* Mantiene las proporciones originales */ 
    padding-top: 30px;
    font-size: 1.2em;
    font-weight: bolder;                       /* Elimina cualquier margen extra alrededor de la imagen */
}
.img{
    padding-top: 20px;
    padding-bottom: 20px;
}
#separador{
    background-color: antiquewhite;
    color: antiquewhite;
    padding: 20px;
    margin-top: 20px;
}
#skills{
    text-align: center;
    color: antiquewhite;
    background-color: #404040;
    font-size: 2em;
    font-weight: bolder;
}