*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background: url(prueba_hero.jpg) center no-repeat;
    background-size: cover;
    height: 70vh;
    /*PARA EL CENTRADO DEL BOTÓN : */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(85, 79, 49, 0.6); /*Lo ultimo es la opacidad*/
}

.Logo img{
    width: 200px;
    height: 100px;
}
.menu{
    display: flex;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:bolder;
    border: 1px solid black;
    padding: 15px;
    
}

.menu a:hover{
    background-color: #f0f0f0;
    color: black;
    border-radius: 5px;
}

.titulo {
    color: #0f0f0f; 
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border-radius: 5px;
}

.cta-boton {
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #6d5245;
    box-shadow: #f0f0f0 0px 0px 10px;
}

.cta-boton a {
    text-decoration: none;
    color: black;
}